{% extends 'adminpage/base.html' %}

{% block content %}

    <main>
        <h1> user: {{ user.username }} </h1>
        <form action="" method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}">Set email:</label>
                {{ form.email }}
            </div>
            <div class="fieldWrapper">
                {{ form.balance.errors }}
                <label for="{{ form.balance.id_for_label }}">Set balance:</label>
                {{ form.balance }}
            </div>
            <div class="fieldWrapper">
                {{ form.new_password.errors }}
                <label for="{{ form.new_password.id_for_label }}">Set new password:</label>
                {{ form.new_password }}
            </div>



            <button type="submit" class="btn btn-primary btn-block"> accept changes </button>
        </form>
    </main>

{% endblock %}