{% extends 'adminpage/base.html' %}

{% block content %}
<div class="row">
{% for card in cards %}

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-md-6">
              <h5 class="card-title">{{ card.title }}:</h5>
              <a href="{{ card.name }}/" class="btn btn-primary">goto {{ card.name }}</a>
            </div>
            <div class="col-md-6">
              <p class="w-50 p-3" align="right">{{ card.amount}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
{% endfor %}

</div>

{% endblock %}